<div>

    <h1>Registro de usuario</h1>

    <h3>Por favor ingrese sus datos para registrarse</h3>

    <form action="/register" method="POST">
        <input type="email" id="email" name="email" placeholder="Ingrese su Email" value="{{email}}" />
        <input type="password" id="password" name="password" placeholder="Ingrese su Contraseña" value="{{password}}" />
        <input type="password" id="confirm_password" name="confirm_password" placeholder="confirme su contrseña" value="{{confirm_password}}"/>

        <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre" value="{{nombre}}"/>
        <input type="text" id="direccion" name="direccion" placeholder="Ingrese su direccion" value="{{direccion}}"/>
        <input type="number" id="edad" name="edad" placeholder="Ingrese su edad" value="{{edad}}"/>
        <input type="number" id="telefono" name="telefono" placeholder="Ingrese su numero de telefono" value="{{telefono}}"/>
        <input type="text" id="foto" name="foto" placeholder="Ingrese su foto de perfil" value="{{foto}}"/>

        <input type="submit" value="Enviar" />
    </form>

</div>